@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Rammetto One", cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.bgcolor {
  background-image: linear-gradient(to right, #fc4d0f, #f9e101);
  height: 100vh;
}
.cardstyle {
  background-color: #fff;
}
.headingtext {
  font-family: "Rammetto One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 49px;
  line-height: 60px !important;
  text-align: center;
  color: #ff4d00;
  font-weight: 400px !important;
}
img.quizstyle {
  width: 100%;
  height: 230px;
  object-fit: cover;
}
.centerimg {
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgb(214 204 204 / 20%),
    0 6px 20px 0 rgb(161 143 143 / 19%);
  padding: 52px;
  width: 76%;
  margin: 0 auto;
  border-radius: 20px;
}
.centerimg.redbox {
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgb(214 204 204 / 20%),
    0 6px 20px 0 rgb(161 143 143 / 19%);
  padding: 52px;
  width: 76%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: red;
  position: relative;
}
.centerimg.greenbox {
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgb(214 204 204 / 20%),
    0 6px 20px 0 rgb(161 143 143 / 19%);
  padding: 52px;
  width: 76%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: green;
  position: relative;
}
.imgauto {
  width: 78%;
  margin: 0 auto;
  margin-top: 34px;
}
img.checkright.css-0 {
  position: absolute;
  top: 48px;
  width: 70%;
}
.btnstyle {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}
.card_center {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
.verticalcenter {
  display: flex;
  justify-content: center;
  min-height: 100 vh;
  align-items: center;
  text-align: center;
}
.textleft {
  font-style: normal;
  font-weight: normal;
  line-height: 60px !important;
  text-align: left;
  color: #ff4d00;
  margin-left: 40px;
}
@media screen and (max-width: 1000px) and (min-width: 200px) {
  h2.chakra-heading.headingtext.css-1dklj6k {
    font-size: 19px;
  }
  .centerimg.redbox {
    display: flex;
    padding: 27px;
    width: 100%;
  }
  .centerimg.greenbox {
    padding: 27px;
    width: 100%;
    margin: 0 auto;
  }
  img.quizstyle {
    width: 100%;
    height: 135px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  img.checkright.css-0 {
    position: absolute;
  }
}
